<!DOCTYPE html>
<script runat="server">

    Protected Sub btnContact_Click(sender As Object, e As EventArgs)

    End Sub
</script>

<html>
<head runat="server">
    <title>MidlandHistoryWeb</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="Content/estilos.css" rel="stylesheet" />
    <script src="Scripts/JavaScript.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #343a40">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="navbar-brand" src="Images/logoMid.png" style="margin-left: -1%; height: 140px" alt="Alternate Text" />
                        <h5 style="margin-left: -10px" class="navbar-text text-center">Midland and districts
                            <br>
                            historical society
                           
                            inc.
                        </h5>
                    </div>
                    <button class="navbar-toggler  order-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse order-1 w-100" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="Default.aspx">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Membership.aspx">Membership</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">News
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="Coming.aspx">Latest news</a></li>
                                    <li><a class="dropdown-item" href="#">Coming.aspx</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">About the society</a></li>                                    
                                    <li><a class="dropdown-item" href="#">Our vision</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Collection policy</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Sponsors.aspx">Sponsors</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
<footer style="margin-top:5%; width:100%" class="footer bg-dark text-light">
    <div style="margin-top:5%" class="container">
        <div style="margin-top:5%" class="row mt-4">
            <div style="margin-top:5%" class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h6>CONTACT</h6>
                        <ul class="list-unstyled">
                            <li><img src="Images/mail.png" alt="Email" style="height:15px; width:15px"> Email: hystorymidland@gmail.com</li>
                            <li><img src="Images/phone.png" alt="Phone Number" style="height:15px; width:15px"> Phone: 0438884719</li>
                            <li><img src="Images/location.png" alt="Location" style="height:15px; width:15px"> Location: Blacksmith La, Midland WA 6056</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6>COMMITTEE</h6>
                        <ul class="list-unstyled">
                            <li>John Doe</li>
                            <li>Jane Doe</li>
                            <li>Bob Smith</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="margin-top:5%" class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h6>FOLLOW US</h6>
                        <div class="list-unstyled align-items-center">
                            <a href="https://www.facebook.com/midlandhistory/"><img src="Images/face.png" alt="Facebook" style="height:26px; width:26px; margin-top:2%"></a>
                            <a href="https://www.instagram.com/midlandhistoricalsociety/"><img src="Images/insta.png" alt="Instagram" style="height:30px; width:31px; margin-top:3%; margin-left:2%"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>CONTACT US</h6>
                        <a href="Contact.aspx" class="btn btn-lg btn-outline-light my-3">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div style="margin-top:5%"class="col-md-12 text-center">
                <p>&copy; 2023 MidlandH. All rights reserved. Designed and developed by <a href="https://bogpro.000webhostapp.com/">BOG</a></p>
            </div>
        </div>
    </div>
</footer>
    </form>
</body>
</html>

