
.mt-5 {
    margin-top: 5rem;
}
/* Estilos para vista PC */
@media only screen and (min-width: 992px) {
    .navbar-pc {
        margin-top: 5%;
    }

        .navbar-pc .nav-item {
            margin-left: 15px;
            margin-right: 15px;
            font-size: 1.5rem;
        }

            .navbar-pc .nav-item:first-child {
                margin-left: 0;
            }
}
/* Estilos para pantalla grande */
@media (min-width: 992px) {
    .navbar-nav li a {
        font-size: 20px;
        margin-right: 26px;
        margin-left: 26px;
    }
}


/* Estilos para vista móvil */
@media only screen and (max-width: 991px) {
    .navbar-mobile .nav-item {
        margin-bottom: 5px;
        font-size: 1.2rem;
    }

        .navbar-mobile .nav-item:first-child {
            margin-top: 10px;
        }
}























