
@media screen and (min-width: 992px) {
    .navbar {
        font-size: 1.30rem;
    }

    .h1 {
        margin-top: 16%;
    }

    .card-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}




@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    .container {
        margin-top: 25%;
    }

    h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    /* Estilos para pantallas más grandes */
    .container {
        margin-top: 10%;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    /* Aplicar margen de 30 píxeles a cada lado del texto en pantallas más grandes */
    .card-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}









