
@media screen and (min-width: 992px) {
    .navbar {
        font-size: 1.25rem;
    }

    .navbar-nav > li > a {
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 3%;
    }
}
